
/* Phone media query */

@media only screen and (max-width:480px){
    #main {
        font-size:8px;
    }
    #root {
        display:grid;
        grid-template-rows: 5% 90% 5%;
    }
    #container-middle {
        display:grid;
        grid-template-columns: none;
        grid-template-rows: 25% 75%;
    }

    #title {
        font-size:6em;
    }

    #container-buttons {
        height:75%;
        width:80%;
        display:grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;  
    }
    
    .container-button-main {

    }
    .btn-container {
        height:60%;
    }
}