:root {
    --light : #fbfcfc;
    --lightgray : #ecf0f1;
    --dark : #0c0b0b;
    --blue: #6495ED;
    --red:#ED4337;
    --periwinkle : #CCCCFF;
    --lightgreen : #2ecc71;
    --orangered : #f75531;
    --blueblack : #17202a;
    --purple : #c22fbf;
    --pink : #d63472;

    --bg-dark : hsl(240, 12%, 11%);
    --input-dark :hsl(240, 13%, 15%);
    --label-dark : hsl(230, 14%, 13%);
    --input2-dark :hsl(240, 13%, 20%);
    --label2-dark:hsl(240, 9%, 13%);
    --icon-dark : hsl(240, 9%, 13%);
}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    border:none;
    overflow:hidden;
}

body {
    height:100vh;
    width:100vw;
    background:var(--bg-dark);
    font-family: Roboto,Arial,Helvetica, sans-serif;
}

#main {
    height:100%;
    width:100%;
    font-size:16px;
}

#root {
    height:100%;
    width:100%;
    display:grid;
    grid-template-rows: 10% 75% 15%;
}

#container-middle {
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns:50% 50%;
}
#container-middle-left {
    height:100%;
    width:100%;

}
#container-middle-right {
    height:100%;
    width:100%;
}
#container-ml-main {
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
#container-mr-main {
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

#title {
    font-size:6rem;
    color:var(--light);
    font-family: Comfortaa,Arial, Helvetica, sans-serif;
}

#container-buttons {
    height:80%;
    width:40%;
    display:grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;    
}

.container-button-main {
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.btn-container {
    height:52.5%;
    width:67.5%;
    transition:width 0.2s linear;
}

.btn-container:hover{
    width:72.5%;
}


#button-1 {
    background:var(--blue);
}
#button-1:hover {
    color:var(--blue);
    background:transparent;
    border:2px solid var(--blue);
    
}
#button-2 {
    background: var(--lightgreen);
}
#button-2:hover {
    color:var(--lightgreen);
    background:transparent;
    border:2px solid var(--lightgreen);
}
#button-3 {
    background: var(--purple);
}
#button-3:hover {
    color:var(--purple);
    background:transparent;
    border:2px solid var(--purple);
}
#button-4 {
    background:var(--pink);
}
#button-4:hover {
    color:var(--pink);
    background:transparent;
    border:2px solid var(--pink);
}

.btn {
    height:100%;
    width:100%;
    font-size:1.25rem;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    color:#fff;
    border-radius: 25px;
    

}


input:focus {
    outline:none;
}


#container-bottom {
    display:flex;
    align-items: flex-end;
    justify-content: center;
}


#copyright {
    font-size:0.9rem;
    color:#555454;
}




#warning {
    display:none;
}

