:root {
    --light : #fbfcfc;
    --lightgray : #ecf0f1;
    --dark : #0c0b0b;
    --blue: #6495ED;
    --red:#ED4337;
    --periwinkle : #CCCCFF;
    --lightgreen : #2ecc71;
    --orangered : #FF5733;
    --blueblack : #17202a ;

}

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    border:none;
    overflow:hidden;
}

body {
    height:100vh;
    width:100vw;
    background:#333c53;
    font-family: Roboto,Arial,Helvetica, sans-serif;
}

#main {
    height:100%;
    width:100%;
    font-size:16px;
}

#root {
    height:100%;
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
}


#container-main {
    height:80%;
    width:50%;
    display:grid;
    grid-template-rows: 63% 24% 13%;
}

#container-1 {
    height:100%;
    width:100%;
    display:grid;
    grid-row-gap: 5%;
    grid-template-rows:15% 15% 15% 15% 15%;
}
#container-2 {
    height: 100%;
    width: 100%;
    display:grid;
    grid-row-gap:10%;
    grid-template-rows:40% 40%;
}

#container-3 {
    height: 100%;
    width: 100%;
    display:grid;
    grid-row-gap:5%;
    grid-template-rows:90%;
}


.input-container {
    height:100%;
    display:grid;
    grid-template-columns: 20% 70%;
    grid-column-gap: 5%;
    background:#2F3A4A;
    border-radius:8px;

}

.label {
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-size:1.25rem;
    color:#fafafa;
    display:flex;
    align-items: center;
    background:hsl(210, 22%, 23%);
}

.label-2 {
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-size:1.25rem;
    color:#fafafa;
    display:flex;
    align-items: center;
    background:hsl(211, 22%, 26%);
}


.label-text {
    position: relative;
    left:15%;
}



.input-text {
    height:100%;
    width:100%;
    background:transparent;
    font-size:1.25rem;
    color:#69849A;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    
}

.input-text:focus {
    border-bottom:2px solid #69849A;

}



#container-key {
    height:100%;
    display:grid;
    grid-column-gap: 5%;
    grid-template-columns: 20% 60% 10%;
    background:#374356;
    border-radius:8px;
}

#container-difficulty {
    height:100%;
    display:grid;
    grid-column-gap:5%;
    grid-template-columns: 20% 60% 10%;
    background-color: #374356;
    border-radius: 8px;
}


#key {
    height:100%;
    width:100%;
    background:transparent;
    font-size:1.25rem;
    color:#69849A;
    font-family: Roboto,Arial, Helvetica, sans-serif;
}

#difficulty {
    height:100%;
    width:100%;
    background:transparent;
    font-size:1.25rem;
    color:#69849A;
    font-family: Roboto,Arial, Helvetica, sans-serif;
}

#difficulty:focus {
    border-bottom:1px solid #69849A;
}
#key:focus {
    border-bottom:1px solid #69849A;
}




.info {
    display: flex;
    align-items:center;
    justify-content: center;
    color:#eeebeb;
    background:#2e3746;
}
.info:hover {
    background:transparent;
}


.key-status {
    display:flex;
    align-items:center;
    justify-content: center;
    color:#eeebeb;
    background-color: #2e3746;
    font-size:1.5rem;
}

.fa-times {
    color:#e23124;
}
.fa-check {
    color:greenyellow;
}





#container-submit {
    height:100%;
    width:100%;
    
}

#submit {
    height:100%;
    width:100%;
    background:#dd505e;
    color:#fff;
    font-size:1.3rem;
    font-family:Roboto,Arial,Helvetica,sans-serif;
    border-radius: 10px;

}
#submit:hover {
    background:#518fc8;
}







input:focus {
    outline:none;
}






/* Sweetalert Start */

.swal2-title {
    font-family: Roboto,Arial, Helvetica, sans-serif;
    font-size:1.5rem;
    color:#fff;
}
.swal2-icon-info {
    color:#fff;
}
.swal2-icon-error {
    color:#fff;
}

.alert-error {
    background:var(--red) !important;
}
.alert-success {
    background:var(--lightgreen) !important;
}

/* Sweetalert End */
