:root {
    --light : #eff5f5;
    --lightgray : #ccd5d7;
    --dark : #0c0b0b;
    --lightblue: #6495ED;
    --periwinkle : #CCCCFF;
    --lightgreen : #2ecc71;
    --orangered : #FF5733;
    --blueblack : #17202a;
    --background-color :  hsl(240, 12%, 11%);
    --blue : hsl(210, 62%, 44%);
    --red : hsl(0, 66%, 51%);
    --purple : hsl(267, 57%, 38%);
    --orange : hsl(29, 82%, 49%);
    --pale-blue : hsl(210, 62%, 48%);
    --pale-red : hsl(0, 66%, 55%);
    --pale-purple : hsl(267, 57%, 42%);
    --pale-orange : hsl(29, 82%, 53%);
    --yellow : #f5ed06;

    --error : hsl(0, 87%, 49%);
    --success : #4BB543;

}


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:none;
}

body {
    background:var(--background-color);
    height:100vh;
    width:100vw;
}

#main {
    height:100%;
    width:100%;
}

#root {
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-rows : 10% 62.5% 27.5%;
}


#container-top {
    height:100%;
    width:100%;
}


#container-bottom {
    height:100%;
    width:100%;
}

#container-options {
    height:100%;
    width:70%;
    position: relative;
    left:15%;
    display: grid;
    grid-template-rows: 50% 50%;
}

#container-options-top {
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns: 50% 50%;
}

#container-options-bottom {
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns: 50% 50%;
}


#container-option-1 {
    background:var(--blue);
    border-radius:5px;

}

#container-option-2 {
    background:var(--red);
    border-radius:5px;
}

#container-option-3 {
    background:var(--purple);
    border-radius:5px;
}

#container-option-4 {
    background:var(--orange);
    border-radius:5px;
}



.c-option-1 {
    border-right:3px solid var(--background-color);
    border-bottom:3px solid var(--background-color);
    border-radius:5px;
}
.c-option-2 {
    border-left:3px solid var(--background-color);
    border-bottom:3px solid var(--background-color);
    border-radius:5px;
}
.c-option-3 {
    border-right:3px solid var(--background-color);
    border-top:3px solid var(--background-color);
    border-radius:5px;
}
.c-option-4 {
    border-left:3px solid var(--background-color);
    border-top:3px solid var(--background-color);
    border-radius:5px;
}






#question-container {
    height:100%;
}


#question {
    display:inline-block;
    font-family: Ubuntu,Arial, Helvetica, sans-serif;
    color:var(--light);
    font-size:3.6vh;
    position: relative;
    top:5%;
}



#container-top {
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns: 15% 70% 15%;
}


#container-top-left {

}
.fa-home {
    color:var(--lightgray);
    font-size:5.75vh;
    position:relative;
    left:3%;
    top:10%;
}
.fa-home:hover {
    color:#f06363;
}



#container-middle {
    height:100%;
    width:100%;
    display:grid;
    grid-template-columns: 15% 70% 15%;
}

#container-middle-center {
}



.option-container {
    display:flex;
    align-items: center;
    justify-content: center;
}


.option {
    font-size:3.25vh;
    font-family: Roboto,Arial, Helvetica, sans-serif;
    color:var(--light );

}


#container-mc-top {
    display:grid;
    grid-template-columns: 85% 15%;
}



#title-container {
    display:inline-block;
}
#title {
    font-size:5.1vh;
    color:#3fc7cc;
    font-family: Jost,'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#difficulty-container {

}
#difficulty-badge {
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    background:transparent;
    border-radius: 25px;
}

#difficulty {
    font-size:3.25vh;
    color:var(--light);
    font-family: Jost,Arial, Helvetica, sans-serif;
}



#container-option-1:hover {
    background-color: var(--pale-blue) !important;
}

#container-option-2:hover {
    background-color: var(--pale-red) !important;
}

#container-option-3:hover {
    background-color: var(--pale-purple) !important;
}

#container-option-4:hover {
    background-color: var(--pale-orange) !important;
}






/*
FOR PC DISPLAY i.e without media queries
minimum width for proper display  : 1100px
minimum height for proper display : 480px
*/
#warning {
    display:none;
}

@media all and (max-width:900px),(max-height:480px){
    #main {
        display:none;
    }
    #warning{
        color:#fff;
        display:block;
    }
}



